.element{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    border:steelblue 3px solid;
    width: 400px;
    height: 600px;
}

.table{
    border: springgreen 3px solid;
    width:1500px;
    margin: auto;
}