.flex {
    display: flex;

  }
  
  .item {
    width: 20%;
    margin-right: 20px;
  }
  
  .item img {
    display: inline;
    max-width: 100%
  }
  
  .item h3 {
    margin: 0;
    text-transform: uppercase;
    color: #b9f2ff;
    font-size: 1.3vw;
  }
  
  .item p {
    margin: 6px 0;
    font-size: 1vw;
  }