@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

html {
    height: 100%;
    font-family: 'Arial Black';
  }

body{
    margin:0;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color:  #EDF5E1;
}

.text_normal{
    color:#05386B;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.header .header_text{
    font-size: 48px;
    padding: 16px;
    display: inline-block;
    text-decoration: none;
    color: #05386B;
    padding-bottom: 0px;
}


.header a:hover{
    color:#379683;
    transform: scale(1.1);
}

.header{
    position: relative;
    text-align: right;
    list-style-type: none;
    background-color:  #5CDB95;
    font-family: 'IBM Plex Serif', serif;
}

.header img{
    position: absolute;
    top: 8%;
    left: 8px;
    border: 3px #05386B solid;
    border-radius: 80px;
    width: 65px;
}

.header li{
    display: inline-block;
    margin-right: 10px;
}

footer{
    background-color:  #5CDB95;
    height: 75px;
    font-size: 20px;
    line-height: 100px;
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
}


