.input {
    text-align: center;
    padding:10px;
    margin: 10px;
    border-radius:10px;
    display: inline-block;
}

form {
    display: inline-block;
    text-align: center;
    width: 200px;
}

.body {
    text-align: center;
}



