.element{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    border:#05386B 3px solid;
    width: 400px;
    height: 600px;
}

.table{
    border: springgreen 3px solid;
    width:1500px;
    margin: auto;
}


.review {
    border: black 3px solid;
    margin: 5px;
}
