<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}" />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <ul class="header">
        {% block header %}
        <li> <a href="/">
            <img src="{{ url_for('static', filename='pictures/stone.png') }}"/>
            </a></li>

        <li>
        {% if not session['name'] %}
            <a href="/login" class="login header_text" >Войти</a>
        {% else %}
            <div class="dropdown">
                <a href="/profile" class="login header_text dropbtn" >[{{session['name']}}]</a>
                <div class="dropdown-content">
                  <a href="/profile">Профиль</a>
                  <a href="/cart">Корзина</a>
                  <a href="/logout">Выйти</a>
                </div>
            </div>

        {% endif %}
        </li>


          
        <li> <a class = "header_text" href="/">
                Главная
            </a> </li>
        <li> <a class = "header_text" href="/catalog">
                Каталог
            </a> </li>
        <li> <a class = "header_text" href="/about">
                О нас
            </a> </li>
        {% endblock %}
    </ul>


    <div id="content">{% block content %}{% endblock %}</div>


    <footer>
        {% block footer %}
        &copy; ООО "КАМЕННЫЙ РАЙ" 2022
        {% endblock %}
    </footer>
</body>
</html>
